body {
    background-color: midnightblue;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* set the number of columns */
    grid-gap: 45px; /* set the gap between the divs */
}
.grid-item {
    border: 15px solid rgba(0,0,0,0.2); /* set the border */
    padding: 30px; /* add some padding to the divs */
    text-align: center; /* center the text */
    border-radius: 35px;
    transition: 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    font-size: 48px;
}

#gptprompts {
    color: hotpink;
    background-color: lightpink;
}

#oligarchy {
    color: darkviolet;
    background-color: plum;
}

#chatgpt {
    color: darkgreen;
    background-color: lightgreen;;
}

#soundraw {
    color: goldenrod;;
    background-color: lightgoldenrodyellow;
}

#diffusion {
    color: lightskyblue;
    background-color: lightcyan;
}

#tts {
    color: brown;
    background-color: khaki;;
}

#zerogpt {
    color: darkslateblue;
    background-color: slateblue;
}

#ribbet {
    color: royalblue;;
    background-color: dodgerblue;;
}

#dream {
    color: darkorchid;
    background-color: orchid;
}

#bing {
    color: royalblue;
    background-color: deepskyblue;
}

#veed {
    color: darkslategray;
    background-color: slategrey;
}

#elevenlabs {
    color: dimgray;
    background-color: white;
}

#dalle {
    color: darkgreen;
    background-color: lightgreen;;
}

#huggingface {
    color: gold;
    background-color: lightyellow;
}

#midjourney {
    color: rgba(255,0,0,0.9);;
    background-color: darkslateblue;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(85, 85, 85, 0.8);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: opacity 0.2s;
    transition: 0.3s ease;
  }
  
  #backToTop:hover {
    background-color: #555;
    transform: scale(1.05);
  }